{% extends 'base.html' %}

{% block titulo %}
Lista de Libros
{% endblock titulo %}


{% block contenido %}

<h1>Lista de Libros</h1>
<ul>
    {% for libro in libros %}
    <div style='background-color:{% cycle 'lightblue' 'pink' 'yellow' 'coral' 'grey' %}'>
        <li>{{ forloop.counter0 }}</li>
        
        {% filter lower %}
        <li>{{ libro.title }}</li>
        {% endfilter %}
        
        
        {% if libro.authors|length <= 30 %}
        <li>{{ libro.authors|lower }}</li>
        <li>Tamaño del autor: {{ libro.authors|length }}</li>
        {% endif %}
            
    </div>
    <hr/>
    {% empty %}
    <li>No hay objetos.</li>
    {% endfor %}    
</ul>
{% endblock contenido %}