<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulario</title>
</head>
<body>
    <h1>Fomulario GET</h1>
    <form action="" method="get">
        {{ form_get }}
        <input type="submit" value="Enviar">
    </form>

    <h1>Fomulario POST</h1>
    <form action="" method="post">
        {% csrf_token %}
        {{ form }}
        <input type="submit" value="Enviar">
    </form>
</body>
</html>